@use '@/styles/variables' as *;

#users {
  width: 100%;

  & .user-card {
    display: flex;
    padding: 1rem;
    margin: 1rem 0;
    box-shadow: $shadow;
    flex-direction: column;
    border-radius: $radius;

    & svg {
      flex-shrink: 0;
    }

    & h2 {
      gap: 0.375rem;
      margin-top: 0;
      font-weight: 500;
      font-size: 1.25rem;
      line-height: 1.5rem;
      display: inline-flex;
      margin-bottom: 0.5rem;

      & span {
        font-weight: 300;
        display: contents;
        font-style: italic;
      }
    }

    & p {
      gap: 0.5rem;
      font-size: 1rem;
      font-weight: 500;
      margin: 0.5rem 0;
      line-height: 1.25rem;
      display: inline-flex;
    }
  }
}
