$font-main: 'Raleway Variable', sans-serif;
$accent-main: #22c55e; // tw-green-500
$accent-complimentary: #ef4444; // tw-red-500
$bg-highlight: rgba(#78716c, 0.5); // tw-stone-500

$js-black: #323330;
$js-yellow: #f0db4f;
$ts-blue: #007acc;
$react-blue: #61dafb;
$css-purple: rebeccapurple;
$scss-pink: #c69;
$radius: 0.5rem;
$outline: 0.0625rem solid transparent;
$shadow: 0 0 0.125rem 0 var(--fg-main);
$transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-double: 300ms cubic-bezier(0.4, 0, 0.2, 1);
