@use '@/styles/variables' as *;

footer {
  gap: 0.5rem;
  display: inherit;
  font-weight: 500;
  min-height: 4rem;
  user-select: none;
  align-items: center;
  font-size: 1.125rem;
  padding-bottom: 1rem;
  color: var(--fg-main);
  flex-direction: column;
  transition: color $transition;

  svg {
    vertical-align: middle;
  }
}
