@use '@/styles/variables' as *;

#navbar {
  z-index: 1;
  width: 100%;
  position: fixed;
  padding: 0 1rem;
  max-width: 38rem;
  pointer-events: none;
}

nav {
  gap: 0.5rem;
  display: flex;
  user-select: none;
  align-items: center;
  box-shadow: $shadow;
  pointer-events: auto;
  color: var(--bg-main);
  border-radius: $radius;
  padding: 0.75rem 1.25rem;
  justify-content: space-between;
  background: var(--bg-secondary);
  transition:
    color $transition,
    background-color $transition,
    transform $transition;

  &.hidden {
    transform: translateY(-5rem);
  }

  & div {
    gap: 0.5rem;
    display: inherit;
  }
}
