@use '@/styles/variables' as *;

#home {
  flex-grow: 1;
  align-content: center;
  color: var(--fg-main);
  transition: color $transition;

  & h1 {
    margin: 0;
    padding-top: 0.75rem;

    & img {
      vertical-align: middle;
    }
  }

  & h1,
  & h2 {
    text-align: center;
  }

  & h2,
  & h3,
  & span {
    font-weight: 600;
  }

  & h1,
  & h2,
  & h3 {
    user-select: none;
  }

  & p {
    font-weight: 500;
    text-align: justify;
    line-height: 1.25rem;
  }
}

.js {
  color: $js-yellow;
}

.ts {
  color: $ts-blue;
}

.react {
  color: $react-blue;
}

.css {
  color: $css-purple;
}

.scss {
  color: $scss-pink;
}
